.video-info {
    position: absolute;
    color: #fff;
    width: 400px;
    border-radius: 8px; /* Rounded corners */
    padding: 16px; /* Spacing inside the container */
   
    margin-bottom: 160px;
    
  
    
    
}

.video-info h1 {
    font-size: 24px; /* Adjust font size */
    margin-bottom: 8px; /* Space between title and overview */
}

.video-info p {
    font-size: 14px; /* Adjust font size */
    line-height: 1.5; /* Improved line height for readability */
    margin-bottom: 16px; /* Space between paragraph and buttons */
}

.video-info button {
    background-color: #e50914; /* Netflix red */
    color: #fff;
    border: none;
    padding: 10px 16px; /* Button padding */
    border-radius: 4px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    margin-right: 8px; /* Space between buttons */
    font-size: 16px; /* Button font size */
    transition: background-color 0.3s ease; /* Smooth transition for hover */
}

.video-info button:hover {
    background-color: #f40612; /* Darker red on hover */
}


@media(max-width:750px){
    .video-info{
        display: none;
    }
}
