.video-play {
    width: 100%;     
}
.iframe-style {
   
    width: 100%; 
    margin-top: -95px;
    aspect-ratio: 16/9; 
    border: none;
    height: 100%;

   
   
}


@media(max-width:650px){
    .iframe-style{
       
        aspect-ratio: 16/17;
    }
}