.video-play {
    width: 100%; /* Full width of the viewport */
    height: 100%; 
}
.iframe-style {
    margin-top: -95px;
    width: 100%; 
    aspect-ratio: 16/9; 
    border: none;
   
}

@media(max-width:650px){
    .iframe-style{
       
        aspect-ratio: 16/15;
    }
}