.gpt {
    background: 
        linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
        url("../../assets/netflix-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; /* Keeps the background fixed in place */
    min-height: 100vh;
    overflow: hidden; /* Prevents unwanted scrollbars */

   
}