.header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;

    
  
}
.logo{
    width: 150px;
}
.avatar{
    width: 35px;
    border-radius: 10px;
    cursor: pointer;
}
.avatar:hover{
    transform: scale(1.05);
}

.nav-right{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0px 5px;
    

    
}

.nav-right button{
    padding: 10px;
    width: 160px;
    border: none;
    background-color: transparent;
    border: solid #fff 2px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    border-radius: 6px;
    cursor: pointer;

   

}

.nav-right select{
    padding: 7px;
    cursor: pointer;
    background-color: transparent;
    color: #fff; 
    border: none;
    border: solid rgb(154, 153, 153) 1px;
    border-radius: 4px;
}
.nav-right select option{
    background-color: #000;
}



@media(max-width:650px){
    .nav-right button{
        width: 130px;
    }
    .header{
        justify-content: center;
       
    }
    .logo{
        width: 140px;
    }
    .nav-right select{
        display: none;
    }
    
}

