.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 0px 40px; /* Adjust as needed */
    align-items: center;
   
 
}

.logo {
    width: 170px; /* Adjust logo size as needed */
}

.sign-out {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 10px 2px;
   
}


.avatar {
    width: 30px;
    border-radius: 4px; /* For a circular avatar */
}